/*

	1312 vs. HTML5

	

	written by Mike "1312" (mike at madebyfudge.com)

	for Fudge (www.madebyfudge.com)
	
	
	A modified Eric Meyer's CSS reset and Rich Clark's HTML5 CSS reset
	(http://html5doctor.com/html-5-reset-stylesheet/)

		
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, 
hgroup, menu, nav, section,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

body {
	line-height: 1;
}

article, aside, dialog, figure, footer, header, 
hgroup, nav, section { 
    display:block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*

	1312 vs. Creative Times

	written by Mike "1312" (mike at madebyfudge.com)

	for Fudge (www.madebyfudge.com)
	

		
*/

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1a1a1a;
/* 	text-align: center; */
}

/* Typography */

@font-face {
    font-family: 'ChaparralPro-Bold';
    src: url('chaparralpro-bold-webfont.eot');
    src: url('chaparralpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('chaparralpro-bold-webfont.woff') format('woff'),
         url('chaparralpro-bold-webfont.ttf') format('truetype'),
         url('chaparralpro-bold-webfont.svg#ChaparralProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ layouts */

#site {
    text-align: left;
 }

header, aside {
	position:  relative;
	z-index: 1000;
/*     background: #ccc; */
    margin: 0px 0 0 20px;
}

nav {
position:  inherit;
z-index: 999;

}

article {
    
}

/*
footer {
	position:  relative;
    background: #ccc;
    padding: 20px;
    z-index: 998;
    height: 4em;
}
*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ general styles */

h1 {
    font-size: 38px;
    font-family: 'ChaparralPro-Bold', arial, serif;
    line-height: 29px;
	margin: 0 0 25px 0;
	
}

h2, h3, h4, h5, h6, p, ul, ol, dl {
	font-size: 20px;
	line-height: 22px;
	margin: 0 0 14px 0;	
}
    h2, h3, h4, h5, h6 {
    	font-weight: bold;
    }
    
pre {
    background: #f0f0f0;
    margin: 0 -20px 20px;
    padding: 20px;
    font-size: 12px;
}
	
a {
	color: #808080;
	text-decoration: none;
	font-weight: normal;
}
	a:focus, a:active {
		text-decoration: none;
	}
	a:hover {
		color: #666;
	}
	
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ custom classes */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ div specific styles */

nav ul {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
}
    nav li {
        height: 24px;
        list-style-type: none;
        overflow: hidden;
    }
        nav a, nav a:hover {
            display: inline-block;
            color: #fff;
            background: #000;
            padding: 3px 2px 1px 2px;
            position: relative;
            overflow: hidden;  
            text-decoration: none;
            *display: inline;
            *padding: 2px;
            zoom: 1;
        }
        
            nav span {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                color: #000;
                background: yellow;
                padding: 3px 2px 1px 2px;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                *padding: 2px;
            }
                @media screen and (-webkit-min-device-pixel-ratio:0){
                    nav a, nav a:hover, nav span {
                        padding: 2px;
							
                    }
                }
            nav .current a {
                background: #000;
                color: #fff;
            }
                nav .current span {
                    display: none !important;
                }
        

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ css3 */

/*
.nav-css3 {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
    margin: 0;
}
  .nav-css3 li {
      width: 140px;
      height: 19px;
      margin: 0 10px 0 0;
      list-style-type: none;
      overflow: hidden;
  }
      .nav-css3 a, .nav-css3 a:hover {
          display: inline-block;
          color: #000;
          background: #fff;
          padding: 2px;
          position: relative;
          overflow: hidden;  
          text-decoration: none;
          *display: inline-block;
          *padding: 2px;     
      }
          .nav-css3 span {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              color: #fff;
              background: #000;
              padding: 2px;
              overflow: hidden;
              white-space: nowrap;

              width: 0;
              opacity: 0;
              -webkit-transition: width, opacity;
              -webkit-transition-duration: 0.4s, 0.1s;
              transition-timing-function: ease-in-out;
          }
                .nav-css3 a:hover span {
                    opacity: 1;
                    width: 100%;
                }
*/

        
.selected a{

background-color: yellow;
color: black;
}
        
        
#text-content {text-align: center;}   

#text-content a{background-color: black; color: white; padding: 2px; font-weight: normal;}
#text-content a:hover{background-color: yellow; color: black;}     
        
        
        
        
        
        
        
        
        
        
        
        
        
            
          		
